body
{

	background-image: url("IndexPageDesignFL.png");
	background-size:cover;
	background-repeat: no-repeat;


} 



/*div#link1 {
    padding: 650px 280px 750px 380px;
}




img {
    opacity: 0.78;
  
}*/